div {
    height: 200px;
    width: 200px;
}


.first {
    background-color: red;
    padding: 20px;
    border: 10px solid black;
}

p {
    margin: 0px;
}

.second {
    background-color: pink;
    border: solid green;
    border-width: 20px 10px 20px 10px;
    margin-left: 259px;
}

.third {
    background-color: yellow;
    border: 10px solid blue;
    margin-left: 479px;
}